body{
  font-size: 'Montserrat', sans-serif;
  background-image: url("../img/flores1.png");
  color: #da918b;
}
.allcontent{
  width: 1100px;
  padding: 2% 0;
  margin: 0 auto;
  text-align: center;
}
#main-content{
  margin: 0 auto;
  display: none;
  text-align: center;
}
#contentlyrics{
  width: 58%;
  margin: 2%;
  padding: 2%;
  background: #abd4ee6e;
  color: black;
}
#songs {
  float: right;
  display: block;
  text-align: center;
  width: 28%;

}
#songs p {
  background: #deebf3;
  padding: 2%
}
audio{
  padding: 5%;
  border-bottom: 1px solid black;
}
#showing{
  display: block;
}
.hide-btn{
  display: none;
}
.content-btn{
  margin: 0 auto;
  text-align: center;
}
#btn-anim{
  height: 100px;
  width: 50%;
  font-size: 32px;
  border: #000000 2px solid;
  background: transparent;
}
