@import 'variables/variables';

body{
  font-family: $global-font;
  background:#05888a5e;
  color: #05878A;

}
h1{
  color: #DD9933;
  margin: 0 auto;
  text-align: center;
}

.allcontent{
  margin: 0 auto;
  width: 80%;
  padding: 2%;
}
#main-content{
  display: none;
  text-align: center;
  margin-top: 10px;
}
#contentlyrics{
  margin-top: 10px;
  width: 58%;
  background: #05888ab2;
  color: black;
}
#songs {
  float: right;
  display: block;
  text-align: center;
  width: 28%;

}
#songs  p {
  color: #67074E;
  background: #dd9933a2;
  padding: 2%
}
audio{
  padding: 5%;
  border-bottom: 1px solid black;
}
#showing{
  display: block;
}
.hide-btn{
  display: none;
}
.content-btn{
  text-align: center;
}
#btn-anim{
  position: fixed;
  text-align: center;
  width: 40%;
  margin-left: 20%;
  margin-top: 20%;
  padding: 10px;
  height: 100px;
  font-size: 26px;
  border: none;
  background: #67074daf;
  color:#dd9933;
  border-bottom: 4px solid #67074dda; 
  border-radius: 5px;
  &:hover{
    background: #dd9933a6;
    border-bottom: 4px solid #dd9933ea; 
    color: #67074E;
    transition: 1.5s;
  }
}
