.main-content{
  width: 1100px;
  padding: 2% 0;
  margin: 0 auto;
}
#contentsongs{
  width: 58%;
  margin: 2%;
  border: 2px solid turquoise;
}
.songs {
  float: right;
  display: block;
  border: 2px solid #43a79d;
  width: 28%;
}
audio{
  margin: 2%;
  display: block;
}
